body {
  justify-content: center;
  text-align: center;
}

.btn1 {
  width: 20%;
  background-color: #0000ff;
}

.btn2 {
  width: 20%;
  background-color: #fff;
}

.btn3 {
  width: 20%;
  background-color: #ff0000;
}
