body{
    justify-content: center;
    text-align: center;
}

.btn1 {
    width: 20%;
    background-color: green;
}
.btn2 {
    width: 20%;
    background-color: red;
}
.btn3 {
    width: 20%;
    background-color: yellow;
}